

.AppSidebar {
  height: 100%;

  .app-logo {
    text-align: center;
    display: inline-flex !important;
    margin-left: 0;
    margin-right: 0;
  }

  .user-avatar {
    left: 0;
    right: 0;
  }
  

}
