

  .lead-status-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    position: relative;
  }


  .lead-status-n {
    background-color: #6435c9;
  }

  .lead-status-v {
    background-color: #2cb3c8;
  }

  .lead-status-c {
    background-color: #f2711c;
  }

  .lead-status-s {
    background-color: #21ba45;
  }

  .lead-status-m, .lead-status-b {
    background-color: #db2828;
  }

